<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn NodeJS</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<style>
  .table-user-container {
    margin: 0 auto;
    width: 80%;
    padding: 15px 20px;
  }
  .title {
    text-align: center;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: rgb(39, 210, 153);
  }
  tr:hover {background-color: rgb(238, 234, 234);}
</style>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/create">Create users</a>
  </div>

  <div class="table-user-container">
    <h1 class="title">User List</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
        <th>Actions</th>
      </tr>
      <% for (let i = 0; i < listUsers.length; i++) { %>
        <tr>
          <td><%=listUsers[i].id %></td>
          <td><%=listUsers[i].email %></td>
          <td><%=listUsers[i].name %></td>
          <td><%=listUsers[i].city %></td>
          <td>
            <a href="/update/<%=listUsers[i].id %>">Edit</a>
            <button>Delete</button>
          </td>
        </tr>
      <% } %>
      
    </table>
  </div>
</body>
</html>